{{docs-header}}

{{docs-hero}}

{{#docs-demo as |demo|}}
  {{#demo.example name="my-demo.hbs"}}
    <p>Make sure to read up on the DocsDemo component before building out this page.</p>
  {{/demo.example}}
{{/docs-demo}}
<div class="docs-container docs-md">
  <a href="https://cybertooth.io" rel="noopener" target="_blank">
    <img alt="Cybertooth.io's wordmark logo" class="docs-w-32" src="assets/images/cybertooth.io-wordmark.png">
  </a>
</div>